[submodule "Homebrew/Grizzards (2022) (AtariAge)"]
	path = Homebrew/Grizzards (2022) (AtariAge)
	url = git@github.com:brpocock/Grizzards.git
[submodule "Homebrew/Climber 5 (2004) (XYPE)"]
	path = Homebrew/Climber 5 (2004) (XYPE)
	url = git@github.com:DNSDEBRO/Climber5.git
[submodule "Homebrew/Pac Man 4K (2007) (Dennis Debro)"]
	path = Homebrew/Pac Man 4K (2007) (Dennis Debro)
	url = git@github.com:DNSDEBRO/Pacman4K.git
[submodule "Atari/Video Checkers (1980) (Atari)"]
	path = Atari/Video Checkers (1980) (Atari)
	url = https://github.com/white-flame/vcs-checkers.git
[submodule "Homebrew/2048 (2014) (ChesterBr)"]
	path = Homebrew/2048 (2014) (ChesterBr)
	url = https://github.com/chesterbr/2048-2600.git
[submodule "Homebrew/Atomchess (2017) (Oscar Toledo G)"]
	path = Homebrew/Atomchess (2017) (Oscar Toledo G)
	url = https://github.com/nanochess/Atomchess-6502.git
